@import "_color";
@import "_flex";
//@import "_grid";

html , body, input, button{
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
body{
    background-color: $bgBody;
}
.m-5{
    margin :0px 5px;
}
.container{
    width: 1100px;
    margin: 0 auto;
}

header{
    padding:20px 0px;
    background-color: white;
    .container{
        .Veggy{
            .logo{//logo la hinh anh 
                display: block;
                font-size: 12px;
                  //letter-spacing: 2px;//khoang cach chu veggy , nhung day la logo 
            }
            .search{
                input{
                    border: 1px solid $primary;
                    padding:10px 12px;
                    width:300px;
                }
                button{
                    border: 1px solid $primary;
                    padding:0px 40px;//vi input da co padding 8px r nen de 0px
                    color:white;
                    background-color: $primary;
                    cursor: pointer;
                }
            }
            .cart{
                .item{
                    font-size: 14px;
                    color:$primary;
                    margin-right: 10px;
                    .text{
                        font-weight: 500;
                    }
                    .price{
                        font-weight: bold;
                    }
                }
                .cart-shoping{
                    position: relative;
                    a{
                        img{
                            font-size: 18px;
                        }
                    }
                    .cart-icon{
                        margin-left:10px;
                        font-size: 30px;
                    }
                    .cart-dropdown{
                        position: absolute;
                        right:0;
                        margin-top: 12px;
                        background-color: white;
                        &::after{
                            content: '';
                            width: 10px;
                            height: 10px;
                            border: 1px solid rgba($color: #000000, $alpha: 0.4);

                        }
                        
                        .btn-checkout{
                            &.disabled{
                                cursor:not-allowed;
                                opacity: 4;
                            }
                            display: block;
                            width: 90%;
                            margin: 0 auto;
                            cursor: not-allowed;
                            background-color: orange;
                            padding:16px 8px;
                            color:white;
                            
                        }
                        .empty{
                            margin: 20px 10px 10px;
                        }
                    }
                }
            }
        }

    }
}
.display{
    background-color: $bgBody;
    .product{
        border: 1px solid white;
        // a{
        //     .img_product{
               
        //     }
        // }
        // .info{
        //     p{
    
        //     }
        //     h3{
        //         i{
                
        //         }
        //     }
        //     .insert_delete{
        //         a{
    
        //         }
        //         input{
    
        //         }
        //     }
        //     button{
                
        //     }
        // }
    }
}