*, *::after,*::before{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
ul ,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
input, button{
    outline:none;
    border:none;
    background-color:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance:none;
    margin:0;
}
input[type= number]{
    -moz-appreance:textfield;
}
